/*styles for jquery ui daterangepicker plugin */

.ui-daterangepickercontain {
	position: absolute;
	z-index: 999;
}
.ui-daterangepickercontain .ui-daterangepicker {
	float: left;
	padding: 2px 0 2px 2px !important;
	width: auto;
	display: inline;
	background-image: none !important;
	background-color: white;
	clear: left;
	border: 1px solid #ccc;
	-webkit-box-shadow : 0px 0px 5px rgba(100, 100, 100, 0.3);
	-moz-box-shadow    : 0px 0px 5px rgba(100, 100, 100, 0.3);
	box-shadow         : 0px 0px 5px rgba(100, 100, 100, 0.3);
}
.ui-daterangepicker ul, .ui-daterangepicker .ranges, .ui-daterangepicker .range-start, .ui-daterangepicker .range-end {
	float: left;
	padding: 0;
	margin: 0;
}
.ui-daterangepicker .ranges {
	width: auto;
	position: relative;
	padding: 5px 5px 40px 0;
	margin-left: 10px;
}
.ui-daterangepicker .range-start, .ui-daterangepicker .range-end {
	margin-left: 5px;
}
.ui-daterangepicker button.btnDone {
	margin: 0 5px 5px 0;
	position: absolute;
	bottom: 0;
	right: 0;
	clear: both;

}
.ui-daterangepicker ul {

	background: none;
	border: 0;
	border-right:1px solid #ccc;
	margin-right: -1px;
	padding-right: 2px;
}
.ui-daterangepicker li {
	list-style: none;
	cursor: pointer;
	border-bottom: 1px dotted #e1e1e1;
	font-size: 12px;

}

.ui-daterangepicker li.ui-daterangepicker-heading {
	padding       : 1px;
	font-size: 10px;
	font-variant: small-caps;
	color             : #999999;
	background-color  : #eeeeee;
	background-repeat : repeat-x;
	background-image  : -moz-linear-gradient(top, whitesmoke 30%, #eeeeee 100%);
	background-image  : -webkit-gradient(linear, left top, left bottom, color-stop(30%, whitesmoke), color-stop(100%, #eeeeee));
	background-image  : -webkit-linear-gradient(top, whitesmoke 30%, #eeeeee 100%);
	background-image  : -ms-linear-gradient(top, whitesmoke 30%, #eeeeee 100%);
	background-image  : -o-linear-gradient(top, whitesmoke 30%, #eeeeee 100%);
	filter            : progid:DXImageTransform.Microsoft.gradient(startColorstr = whitesmoke, endColorstr = #eeeeee, GradientType = 0);
	background-image  : linear-gradient(top, whitesmoke 30%, #eeeeee 100%);
}
.ui-daterangepicker li.hover, .ui-daterangepicker li.active {

	background-color : #DEEBFF;
	cursor           : pointer;
	text-shadow      : none;
	color            : #444;
}
.ui-daterangepicker li.preset_0 {

}
.ui-daterangepicker .ui-widget-content a {
	text-decoration: none !important;
}
.ui-daterangepicker li a {
	font-weight: normal;
	padding: 3px 3px 3px 10px;
	display: block;
	text-decoration: none;
}
.ui-daterangepicker li i {
	float: right;
	margin-top: 3px;

}

.ui-daterangepicker .ui-datepicker-prev, .ui-daterangepicker .ui-datepicker-next {
margin-top:5px;
	cursor : pointer;
}
.ui-daterangepicker select.ui-datepicker-year{

}



.ui-daterangepicker .title-start, .ui-daterangepicker .title-end {
	display: block;
	margin: 0 0 .2em;
	font-size: 1em;
	padding: 0 4px 2px;
}
.ui-daterangepicker .ui-datepicker-inline {
	font-size: 1em;
}
.ui-daterangepicker-arrows {
	position : relative;

}

.ui-daterangepicker-arrows.input-prepend, .ui-daterangepicker-arrows.input-append {

}
.ui-daterangepicker-arrows input.ui-rangepicker-input {

}
.ui-daterangepicker-arrows .ui-daterangepicker-prev, .ui-daterangepicker-arrows .ui-daterangepicker-next {
padding-left: 3px;
padding-right: 3px;

}
.ui-daterangepicker-arrows .ui-daterangepicker-prev {

}
.ui-daterangepicker-arrows .ui-daterangepicker-next {

}
.ui-daterangepicker-arrows .ui-daterangepicker-prev:hover, 
.ui-daterangepicker-arrows .ui-daterangepicker-next:hover,
.ui-daterangepicker-arrows .ui-daterangepicker-prev:focus, 
.ui-daterangepicker-arrows .ui-daterangepicker-next:focus {

}
